
# Note we depend on NODE_ENV being set to dictate which of the env variables below get loaded at runtime. 
# See README for more details.

# This is standard running mongodb locally
POSTGRES_URI=postgres://betro:betro@localhost:5432/betro

REDIS_URI=redis://127.0.0.1:6379

# Application Port - express server listens on this port (default 4000).
PORT=4000
